@import "./Vars";
@import "~bulma/bulma.sass";
// MAP
.map-view {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.marker-icon {
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    color: red;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 15px;
}
// MARKER
.marker-icon.safe {
    background-color: #7cbb15;
    border-color: #70aa13;
}
.marker-icon.Yellow {
    background-color: #ffed00;
    border-color: #ffcf00;
}
.marker-icon.xOrange {
    background-color: #ff9104;
    border-color: #fa8208;
}
.marker-icon.xxOrange {
    background-color: #f96f09;
    border-color: #f14f12;
}
.marker-icon.xxxOrange {
    background-color: #e43c02;
    border-color: #c42a02;
}
.marker-icon.xRed {
    background-color: #c42a02;
    border-color: #911b01;
}
.marker-icon.xxRed {
    background-color: #911b01;
    border-color: #6b1500;
}
.marker-icon.xxxRed {
    background-color: #6b1500;
    border-color: #5b1200;
}
// LISTVIEWS
.list-view {
    background-color: $white-ter;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 313px;
    z-index: 30;
    opacity: 95%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}
.list-view2 {
    background-color: $white-ter;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 313px;
    z-index: 30;
    opacity: 95%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
}
.confirmed {
    color: orange;
}
.recovered {
    color: #00ff54;
}
.deaths {
    color: red;
}
.list-view-brand,
.list-view-total {
    background-color: whitesmoke;
    border-bottom: 1px solid #fa8208;
    box-shadow: 0.1px 0.1px 1px 0px #fa8208;
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
}

.list-view-locations {
    background-color: whitesmoke;
    border-bottom: 1px solid $grey-lighter;
    box-shadow: 0.1px 0.1px 1px 0px #fa8208;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
}

.list-view-location {
    background-color: white;
    padding: 10px;
    cursor: pointer;

    &:first-child {
        margin-top: 10px;
    }

    &:last-child {
        margin-bottom: 10px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid white;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        box-shadow: 0.1px 0.1px 1px 0px $black-ter;
    }

    &.selected {
        color: white;
        background-color: $black-ter;
    }

    &.selected .title {
        color: white;
    }
}

.list-view-location-list {
    background-color: white;
    padding: 10px;
    border-radius: 8px;

    &:first-child {
        margin-top: 10px;
    }

    &:last-child {
        margin-bottom: 10px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $grey-lighter;
    }
    &.selected {
        color: white;
        background-color: $black-ter;
    }

    &.selected .title {
        color: white;
    }
}
.margin-r {
    margin-right: 30px;
}
// DETAILSVIEW
.details-view {
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    width: 322px;
    padding: 20px;
    position: fixed;
    left: 50%;
    bottom: 0px;
    z-index: 20;
    transform: translateX(-50%);
    border-radius: 8px;
}

.details-view-close {
    font-size: 32px;
    line-height: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 22;
    cursor: pointer;
}
.details-view-close-list {
    font-size: 39px;
    line-height: 0.1;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 22;
    cursor: pointer;
}
.details-view-close-listbar {
    font-size: 50px;
    line-height: 0.5;
    position: absolute;
    // box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    top: 12px;
    left: 15px;
    z-index: 22;
    cursor: pointer;
}
.bg-listbar {
    background-color: white;
    top: 90%;
    padding: 30px;
    position: fixed;
    z-index: 20;
    border-radius: 8px;
}
.s-v-g {
    width: 25px;
}
// HOVER
.bg-listbar:hover {
    background-color: $black-ter;
    color: white;
    top: 90%;
    padding: 30px;
    position: fixed;
    z-index: 20;
    border-radius: 8px;
}

// RESPONSIVE
@media only screen and (max-width: 800px) {
}
